.header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  padding: 0 10px;
}

.header__logo {
  width: 70px;
}

.header__title {
  color: chartreuse;
  font-weight: 700;
}

.header__description {
  color: rgb(29, 19, 5);
  font-weight: 700;
  font-size: 20px;
}
